{% extends 'base.html' %}
{% block content %}
<h3>Post a New Job</h3>
<form method="POST">
{{ form.hidden_tag() }}
<div class="mb-3">{{ form.title.label }} {{ form.title(class="form-control") }}</div>
<div class="mb-3">{{ form.company.label }} {{ form.company(class="form-control") }}</div>
<div class="mb-3">{{ form.location.label }} {{ form.location(class="form-control") }}</div>
<div class="mb-3">{{ form.description.label }} {{ form.description(class="form-control", rows=5) }}</div>
{{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}